/* Estilos generales */
.spacer {
  flex: 1 1 auto;
}

mat-card {
  margin: 30px auto; /* Espaciado superior aumentado */
  padding: 20px;
  max-width: 90%; /* Evitar que se pegue a los lados */
}

mat-toolbar {
  background-color: #4CAF50 !important;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}
/* Encabezados */

th {
  background-color: #3f51b5; /* Azul Material */
  color: #4CAF50;
  font-weight: bold;
  padding: 12px;
  text-align: center;
}

/* Celdas */
td {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}

/* Estilos para select e input */
select, input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Botones */
button.mat-button {
  font-weight: bold;
}

button.mat-icon-button {
  margin: 0 5px;
}

/* Resaltar fila al pasar el mouse */
tr:hover {
  background-color: #e3f2fd; /* Azul claro */
}

/* Agregar sombra y bordes sutiles */
.mat-elevation-z8 {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.small-input {
  width: 60px;
  padding: 6px;
  font-size: 14px;
  text-align: center;
}

.text-danger {
  color: red;
  font-size: 0.9em;
}

.full-screen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); /* Fondo claro */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3f51b5; /* Azul Material */
  font-size: 22px;
  font-weight: bold;
  animation: fadeIn 0.5s ease-in-out;
}

/* Animación de entrada */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.mat-spinner {
  margin-bottom: 20px;
}

.titulo-con-boton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.boton-prediccion {
  background-color: transparent; /* Sin fondo */
  color: #4CAF50 !important; /* Verde forzado */
  font-weight: bold;
  display: flex;
  align-items: center;
  border: none;
}

.boton-prediccion mat-icon {
  color: #4CAF50 !important; /* Asegura que el ícono también sea verde */
  margin-right: 8px;
  font-size: 22px;
}

.icon-text {
  font-size: 16px;
}

mat-progress-bar {
  width: 80%;
  height: 8px; /* Reducimos la altura */
  margin: auto;
}

.rendimiento-text {
  font-weight: bold;
  margin-left: 10px;
  font-size: 16px;
}

.rendimiento-bajo .mat-progress-bar-fill {
  background-color: #F44336 !important; /* Rojo */
}

.rendimiento-alto .mat-progress-bar-fill {
  background-color: #4CAF50 !important; /* Verde */
}

.rendimiento-medio .mat-progress-bar-fill {
  background-color: #FFC107 !important; /* Amarillo */
}


.tabla-responsive {
  overflow-x: auto;
  width: 100%;
}
