<div class="icon-group" routerLink="/dashboard" routerLinkActive="active" matTooltip="Dashboard">
  <mat-icon class="icon-btn">dashboard</mat-icon>
  <span class="icon-label">Dashboard</span>
</div>
<div class="icon-group" routerLink="/my_students" routerLinkActive="active" matTooltip="Mis Estudiantes">
  <mat-icon class="icon-btn">groups</mat-icon>
  <span class="icon-label">Mis Estudiantes</span>
</div>
<div class="icon-group" routerLink="/register_notes_for_students" routerLinkActive="active" matTooltip="Registro Académico">
  <mat-icon class="icon-btn">calendar_today</mat-icon>
  <span class="icon-label">Registrar Notas</span>
</div>
<div class="icon-group" routerLink="/reports_students" routerLinkActive="active" matTooltip="Reportes">
  <mat-icon class="icon-btn">bar_chart</mat-icon>
  <span class="icon-label">Reportes</span>
</div>
<button mat-button class="register-btn" routerLink="/register_student">
  <mat-icon>person_add</mat-icon>
  Registrar estudiante
</button>
